html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

/* navbar hide on scroll down */
.nav-up {
    top: -80px;
}
.navbar{
   transition: top 0.4s ease-in-out;
}
.sidebar,
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
}
.sidebar {
  left: -100%;
  max-width: 300px;
  transition: all ease 0.25s;
  overflow-y: auto;
  z-index: 1032;
}
.overlay {
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.50);
  visibility: hidden;
  z-index: 1031;
}
.main-navigation.active .sidebar {
  left: 0;
}
.main-navigation.active .overlay {
  visibility: visible;
}
@media (min-width: 992px) {
  .sidebar {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    flex-direction: row;
    max-width: 100%;
    transform: none;
    transition: none;
    overflow-y: visible;
    z-index: auto;
  }
  
}
.main-heading {
  position: relative;
  z-index: 100;
}
@media (max-width: 991.98px) {
	  .navbar-nav {
	  padding-top: 5rem;
	  padding-left: 1.5rem;
  }
}
@media (min-width: 1084px) {
  .order-lg-2 svg {
    display: none;
  }
}

/* ads */
.ads{
  height: 150px;
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  gap: 20px;
  margin: 10px;

}
.ad{
  background-color: #ffffff;
  color: rgb(7, 7, 7);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
/* ads */

/* landing */
.landing{
  display: grid;
  grid-template-columns:  auto;
  align-items: center;
  align-content: center;
  margin: 8%;
}
.heading-container{
  width: 100%;
  padding: 20px;
  display: grid;
  justify-content: center;
  align-items: center;
  background: #f9f1d2 ;
}
.picture img{
  width: 100%;
  height: 100%;
}
/* landing */

/* content  */
.content{
  background: url('../uploads/TPT_Ad_300x300_2000x.webp') ;
  height: 200px;
}
/* content  */

/* footer  */
*, *:before, *:after {
  box-sizing: border-box;
  }
  
  body {
  font-family: poppins;
  margin: 0;
  display: grid;
  font-size: 14px;
  }
  header p {
  padding: 50px;
  text-align: center;
  color: #bebebe;
  text-transform: uppercase;
  font-size: 65px;
  font-weight: 700;
  }
  .footer {
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: #fff;
  background-color: #f9f1d2;
  }
  
  .footer > * {
  flex:  1 100%;
  }
  
  .l-footer {
  margin-right: 1.25em;
  margin-bottom: 2em;
  }
  
  h2 {
  font-weight: 400;
  font-size: 15px;
  }
  
  .footer ul {
  list-style: none;
  padding-left: 0;
  }
  
  .footer li {
  line-height: 2em;
  }
  
  .footer a {
  text-decoration: none;
  }
  
  .r-footer {
  display: flex;
  flex-flow: row wrap;
  }
  
  .r-footer > * {
  flex: 1 50%;
  margin-right: 1.25em;
  }
  
  .box a {
  color: rgb(255, 255, 255);
  }
  
  .h-box {
  column-count: 2;
  column-gap: 1.25em;
  }
  
  .b-footer {
  text-align: center;
  color: rgb(245, 245, 245);
  padding-top: 50px;
  }
  
  .l-footer p {
  padding-right: 20%;
  color: rgb(255, 255, 255);
  }   
  
  @media screen and (min-width: 600px) {
  .r-footer > * {
  flex: 1;
  }
  
  .features {
  flex-grow: 2;
  }
  
  .l-footer {
  flex: 1 0px;
  }
  
  .r-footer {
  flex: 2 0px;
  }
  }
  
/* footer  */
@media screen and (max-width:786px) {
  .picture img{
  display: none;
  }
  .landing{
    grid-template-columns: auto ;
  }
}





/* result page  */
.results{
  display: grid;
  grid-template-columns: repeat(3,auto);
}
/* result page  */